* {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container .item {
    text-align: center;
    background: tomato;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
    flex-basis: 30%;
  }

  .container .item-1 {
    order: 1;
    flex-grow: 40;
    text-align: center;
    background: palegoldenrod;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-2 {
    order: 2;
    flex-shrink: 40;
    text-align: center;
    background: tomato;
    border:1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-3 {
    order: 3; 
    flex-grow: 40;
    text-align: center;
    background: palegoldenrod;
    border:1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-4 {
    order: 4; 
    flex-shrink: 40;
    text-align: center;
    background: tomato;
    border:1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-5 {
    order: 5;
    flex-grow: 40;
    text-align: center;
    background: palegoldenrod;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-6 {
    order: 6;
    flex-shrink: 40;
    text-align: center;
    background: tomato;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-7 {
    order: 7;
    flex-grow: 40;
    text-align: center;
    background: palegoldenrod;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-8 {
    order: 8;
    flex-shrink: 40;
    text-align: center;
    background: tomato;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-9 {
    order: 9;
    flex-grow: 40;
    text-align: center;
    background: palegoldenrod;
    border: 0px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }

  .container .item-10 {
    order: 10;
    flex-grow: 1;
    text-align: center;
    background: tomato;
    border: 0px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 20px;
  }



  @media screen and (max-width: 768px) {
    .container .item{
        min-width: 100%;
    }
    .container { 
        flex-direction: column-reverse;
    }
  }

  @media screen and (min-width: 769px) { 
      .container .item{
          min-width: 33%;
      }
  }