ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
}

li a { 
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

body { 
    background-color: lavender;
    text-align: center;
}

.jp-intro {
    width: 100px;
    text-align: center;
    margin: auto;
    border-style: none;
}

.jp-info {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.jp-legend {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.jp-form {
    width: 800px;
    text-align: center;
    margin: auto;
}