p { 
    color: #333;
}

header nav 
ul li a:hover {
    text-decoration: none;
}

header nav li{
    color: #ff6347;
}

article p:nth-child(2){
    text-decoration: underline;
}

.am {
    text-decoration: underline;
}

span:not(.am){
    font-style: italic;
}

footer ul li:first-child { 
    list-style-type: none;
}

footer ul li:last-child {
    font-weight: bold;
}